protobuf==3.20.3
transformers
langchain-community
langchain-huggingface
einops==0.6.1
xformers
accelerate
kor
langchain
bitsandbytes
sentencepiece
loralib
spacy
sentence-transformers
beautifulsoup4
unstructured
tiktoken
fastapi
uvicorn[standard]